ADF-Oindrila-2022-March/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-Oindrila-2022-March"
		},
		"LS_logadlsoindrila2022march_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://logadlsoindrila2022march.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_sqldboindrila2022march')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"param_ServerName": {
							"value": "@dataset().param_sqlServerName",
							"type": "Expression"
						},
						"param_DatabaseName": {
							"value": "@dataset().param_databaseName",
							"type": "Expression"
						},
						"param_AdminUserName": {
							"value": "@dataset().param_adminUserName",
							"type": "Expression"
						},
						"param_Password": {
							"value": "@dataset().param_password",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"param_sqlServerName": {
						"type": "string"
					},
					"param_databaseName": {
						"type": "string"
					},
					"param_adminUserName": {
						"type": "string"
					},
					"param_password": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_sqldboindrila2022march_Param_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"param_ServerName": {
							"value": "@dataset().param_sqlServerName",
							"type": "Expression"
						},
						"param_DatabaseName": {
							"value": "@dataset().param_databaseName",
							"type": "Expression"
						},
						"param_AdminUserName": {
							"value": "@dataset().param_adminUserName",
							"type": "Expression"
						},
						"param_Password": {
							"value": "@dataset().param_password",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"param_sqlServerName": {
						"type": "string"
					},
					"param_databaseName": {
						"type": "string"
					},
					"param_adminUserName": {
						"type": "string"
					},
					"param_password": {
						"type": "string"
					},
					"param_schemaName": {
						"type": "string"
					},
					"param_tableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().param_schemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().param_tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_logadlsoindrila2022march')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service for Connecting to ADLS Gen2 Instance \"logadlsoindrila2022march\" from ADF Instance \"ADF-Oindrila-2022-March\" for Logging.",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_logadlsoindrila2022march_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV_Oindrila_2022_March",
							"type": "LinkedServiceReference"
						},
						"secretName": "kv-secret-for-logadlsoindrila2022march-access-key-1"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/10_Learn_Copy_Data_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Find SQL Server Password KV Secret",
						"description": "Fetch the Value of the Secret \"kv-sqlserveroindrila2022march-pwd\" from the Azure Key Vault resource “KV-Oindrila-2022-March”",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kv-oindrila-2022-march.vault.azure.net/secrets/kv-sqlserveroindrila2022march-pwd/?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Copy SQL Table into CSV File",
						"description": "Copy the Records of the Azure SQL Database Table \"dbo.Employee\" and Store the Records as a CSV File in ADLS Gen2.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Find SQL Server Password KV Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@pipeline().parameters.param_sqlQuery",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_sqldboindrila2022march",
								"type": "DatasetReference",
								"parameters": {
									"param_sqlServerName": {
										"value": "@pipeline().parameters.param_sqlServerName",
										"type": "Expression"
									},
									"param_databaseName": {
										"value": "@pipeline().parameters.param_sqlServerDbName",
										"type": "Expression"
									},
									"param_adminUserName": {
										"value": "@pipeline().parameters.param_sqlServerAdminUserName",
										"type": "Expression"
									},
									"param_password": {
										"value": "@activity('Find SQL Server Password KV Secret').output.value",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_CSV_With_Container_Directory_Params",
								"type": "DatasetReference",
								"parameters": {
									"param_containerName": {
										"value": "@pipeline().parameters.param_containerName",
										"type": "Expression"
									},
									"param_directoryName": {
										"value": "@pipeline().parameters.param_directoryName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_sqlServerName": {
						"type": "string",
						"defaultValue": "sqlserveroindrila2022march.database.windows.net"
					},
					"param_sqlServerDbName": {
						"type": "string",
						"defaultValue": "sqldboindrila2022march"
					},
					"param_sqlServerAdminUserName": {
						"type": "string",
						"defaultValue": "oindrila2022march"
					},
					"param_sqlQuery": {
						"type": "string",
						"defaultValue": "SELECT * FROM dbo.Employee"
					},
					"param_containerName": {
						"type": "string",
						"defaultValue": "stage"
					},
					"param_directoryName": {
						"type": "string",
						"defaultValue": "copy-data-output/pl-copy-data-activity"
					}
				},
				"folder": {
					"name": "Training Folder/Learning Activities/Day-5"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_sqldboindrila2022march')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/11_Merge_Data_From_Multiple_Files_Using_Copy_Data_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Find SQL Server Password KV Secret",
						"description": "Fetch the Value of the Secret \"kv-sqlserveroindrila2022march-pwd\" from the Azure Key Vault resource “KV-Oindrila-2022-March”",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kv-oindrila-2022-march.vault.azure.net/secrets/kv-sqlserveroindrila2022march-pwd/?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Merge Data from Multiple Files to SQL Table",
						"description": "Copy Data from the Multiple CSV Files Present in the \"Hierarchy\" of \"Sub-Directories\" inside the Directory \"input-csv-files\" under the Container \"raw\" and Store the Merged Data into the SQL Table \"dbo.StudentMarks\".",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Find SQL Server Password KV Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MiddleName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MiddleName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LastName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subject",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubjectName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Marks",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Marks",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_With_Container_Directory_Params",
								"type": "DatasetReference",
								"parameters": {
									"param_containerName": {
										"value": "@pipeline().parameters.param_containerName",
										"type": "Expression"
									},
									"param_directoryName": {
										"value": "@pipeline().parameters.param_directoryName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_sqldboindrila2022march_Param_Table",
								"type": "DatasetReference",
								"parameters": {
									"param_sqlServerName": {
										"value": "@pipeline().parameters.param_sqlServerName",
										"type": "Expression"
									},
									"param_databaseName": {
										"value": "@pipeline().parameters.param_sqlServerDbName",
										"type": "Expression"
									},
									"param_adminUserName": {
										"value": "@pipeline().parameters.param_sqlServerAdminUserName",
										"type": "Expression"
									},
									"param_password": {
										"value": "@activity('Find SQL Server Password KV Secret').output.value",
										"type": "Expression"
									},
									"param_schemaName": {
										"value": "@pipeline().parameters.param_schemaName",
										"type": "Expression"
									},
									"param_tableName": {
										"value": "@pipeline().parameters.param_tableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_sqlServerName": {
						"type": "string",
						"defaultValue": "sqlserveroindrila2022march.database.windows.net"
					},
					"param_sqlServerDbName": {
						"type": "string",
						"defaultValue": "sqldboindrila2022march"
					},
					"param_sqlServerAdminUserName": {
						"type": "string",
						"defaultValue": "oindrila2022march"
					},
					"param_storedProcedureName": {
						"type": "string"
					},
					"param_schemaName": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"param_tableName": {
						"type": "string",
						"defaultValue": "StudentMarks"
					},
					"param_containerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"param_directoryName": {
						"type": "string",
						"defaultValue": "input-csv-files"
					}
				},
				"folder": {
					"name": "Training Folder/Learning Activities/Day-5"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_sqldboindrila2022march_Param_Table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/12_Preserve_Directory_Hierarchy_Using_Copy_Data_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy CSV Files Preserving Directory Hierarchy",
						"description": "Copy the CSV File from the Input Directory \"input-csv-files\" under the Input Container \"raw\", Preserving the Directory Hierarchy, to the Output Directory \"copy-data-output/pl-copy-data-activity\" under the Output Container \"stage\".",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_With_Container_Directory_Params",
								"type": "DatasetReference",
								"parameters": {
									"param_containerName": {
										"value": "@pipeline().parameters.param_inputContainerName",
										"type": "Expression"
									},
									"param_directoryName": {
										"value": "@pipeline().parameters.param_inputDirectoryName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_CSV_With_Container_Directory_Params",
								"type": "DatasetReference",
								"parameters": {
									"param_containerName": {
										"value": "@pipeline().parameters.param_outputContainerName",
										"type": "Expression"
									},
									"param_directoryName": {
										"value": "@pipeline().parameters.param_outputDirectoryName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_inputContainerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"param_inputDirectoryName": {
						"type": "string",
						"defaultValue": "input-csv-files"
					},
					"param_outputContainerName": {
						"type": "string",
						"defaultValue": "stage"
					},
					"param_outputDirectoryName": {
						"type": "string",
						"defaultValue": "copy-data-output/pl-copy-data-activity"
					}
				},
				"folder": {
					"name": "Training Folder/Learning Activities/Day-5"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/13_Flatten_Directory_Hierarchy_Using_Copy_Data_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy CSV Files Flattening Directory Hierarchy",
						"description": "Copy the CSV File from the Input Directory \"input-csv-files\" under the Input Container \"raw\", Flattening the Directory Hierarchy, to the Output Directory \"copy-data-output/pl-copy-data-activity\" under the Output Container \"stage\".",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Info",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "LS_logadlsoindrila2022march",
										"type": "LinkedServiceReference"
									},
									"path": "copy-data-log-container/copy-data-log-directory"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_With_Container_Directory_Params",
								"type": "DatasetReference",
								"parameters": {
									"param_containerName": {
										"value": "@pipeline().parameters.param_inputContainerName",
										"type": "Expression"
									},
									"param_directoryName": {
										"value": "@pipeline().parameters.param_inputDirectoryName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_CSV_With_Container_Directory_Params",
								"type": "DatasetReference",
								"parameters": {
									"param_containerName": {
										"value": "@pipeline().parameters.param_outputContainerName",
										"type": "Expression"
									},
									"param_directoryName": {
										"value": "@pipeline().parameters.param_outputDirectoryName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_inputContainerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"param_inputDirectoryName": {
						"type": "string",
						"defaultValue": "input-csv-files"
					},
					"param_outputContainerName": {
						"type": "string",
						"defaultValue": "stage"
					},
					"param_outputDirectoryName": {
						"type": "string",
						"defaultValue": "copy-data-output/pl-copy-data-activity"
					}
				},
				"folder": {
					"name": "Training Folder/Learning Activities/Day-5"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_logadlsoindrila2022march')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/15_Learn_Get_Metadata_Activity_For_Folder')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata of Folder",
						"description": "Get the following Metadata information of the Folder, Pointed by the Pipeline Parameters \"param_containerName\" and \"param_directoryName\" -\n\n1. Type\n2. Exists\n3. Name\n4. Child Items\n5. Last Modified Date and Time",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_CSV_With_Container_Directory_Params",
								"type": "DatasetReference",
								"parameters": {
									"param_containerName": {
										"value": "@pipeline().parameters.param_containerName",
										"type": "Expression"
									},
									"param_directoryName": {
										"value": "@pipeline().parameters.param_directoryName",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems",
								"exists",
								"itemName",
								"itemType",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Verify Item Type is Folder",
						"description": "Verify If the Item, Pointed by the Dataset “DS_CSV_With_Contaner_Directory_Params” is a \"Folder\", or, Not.",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata of Folder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get Metadata of Folder').output.itemType, 'Folder')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Set Item Type As File",
									"description": "Set the Value of the Pipeline Variable \"itemType\" with the Text \"This is a File\".",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "var_itemType",
										"value": "This is a File"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Set Item Type As Folder",
									"description": "Set the Value of the Pipeline Variable \"itemType\" with the Text \"This is a Folder\".",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "var_itemType",
										"value": "This is a Folder"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_containerName": {
						"type": "string",
						"defaultValue": "stage"
					},
					"param_directoryName": {
						"type": "string",
						"defaultValue": "copy-data-output/pl-for-each-copy-data-activity"
					}
				},
				"variables": {
					"var_itemType": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Training Folder/Learning Activities/Day-6"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/16_Learn_Get_Metadata_Activity_For_File')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata of File",
						"description": "Get the following Metadata information of the File, Pointed by the Pipeline Parameters \"param_containerName\", \"param_directoryName\" and \"param_fileName\" -\n\n1. Column count\n2. Exists\n3. Item Name\n4. Item Type\n5. Last Modified Date and Time\n6. Size\n7. Structure",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_CSV_With_Container_Directory_File_Params",
								"type": "DatasetReference",
								"parameters": {
									"param_containerName": {
										"value": "@pipeline().parameters.param_containerName",
										"type": "Expression"
									},
									"param_directoryName": {
										"value": "@pipeline().parameters.param_directoryName",
										"type": "Expression"
									},
									"param_fileName": {
										"value": "@pipeline().parameters.param_fileName",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"columnCount",
								"exists",
								"itemName",
								"itemType"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Verify Item Type is File",
						"description": "Verify If the Item, Pointed by the Dataset “DS_CSV_With_Contaner_Directory_File_Params” is a \"File\", or, Not.",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata of File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get Metadata of File').output.itemType, 'File')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Set Item Type As Folder",
									"description": "Set the Value of the Pipeline Variable \"itemType\" with the Text \"This is a Folder\".",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "var_itemType",
										"value": "This is a Folder"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Set Item Type As File",
									"description": "Set the Value of the Pipeline Variable \"var_itemType\" with the Text \"This is a File\".",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "var_itemType",
										"value": "This is a Folder"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_containerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"param_directoryName": {
						"type": "string",
						"defaultValue": "input-csv-files/1988/09/02/"
					},
					"param_fileName": {
						"type": "string",
						"defaultValue": "Students_1.csv"
					}
				},
				"variables": {
					"var_itemType": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Training Folder/Learning Activities/Day-6"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/17_Learn_Validation_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Validation of ADLS Directory in Dataset",
						"description": "Verify if the Directory \"input-json-files\"  Exists under the Container \"raw\"",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Json_With_Container_And_Directory_Params",
								"type": "DatasetReference",
								"parameters": {
									"param_containerName": {
										"value": "@pipeline().parameters.param_containerName",
										"type": "Expression"
									},
									"param_directoryName": {
										"value": "@pipeline().parameters.param_directoryName",
										"type": "Expression"
									}
								}
							},
							"timeout": "0.00:01:00",
							"sleep": 1
						}
					},
					{
						"name": "Verify If Directory Exists",
						"description": "Verify If the \"Validation\" Activity is Returning \"true\" or \"false\".",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Validation of ADLS Directory in Dataset",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Validation of ADLS Directory in Dataset').output.exists",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Set Negative To Directory Exists Variable_copy1",
									"description": "Set the Value \"No. The Directory Does Not Exist\" in the Pipeline Variable \"var_ifDirectoryExists\".",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "var_ifDirectoryExists",
										"value": "No. The Directory Does Not Exist"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Set Affirmative To Directory Exists Variable",
									"description": "Set the Value \"Yes. Directory Exists\" in the Pipeline Variable \"var_ifDirectoryExists\".",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "var_ifDirectoryExists",
										"value": "Yes. Directory Exists"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_containerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"param_directoryName": {
						"type": "string",
						"defaultValue": "input-json-files"
					}
				},
				"variables": {
					"var_ifDirectoryExists": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Training Folder/Learning Activities/Day-6"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/18_Learn_ForEach_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Find SQL Server Password KV Secret",
						"description": "Fetch the Value of the Secret \"kv-sqlserveroindrila2022march-pwd\" from the Azure Key Vault resource “KV-Oindrila-2022-March”",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kv-oindrila-2022-march.vault.azure.net/secrets/kv-sqlserveroindrila2022march-pwd/?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Lookup Table Employee",
						"description": "Use this \"Lookup\" Activity to Execute the Query, Provided in the Pipeline Parameter \"param_sqlQuery\".",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Find SQL Server Password KV Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@pipeline().parameters.param_sqlQuery",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_sqldboindrila2022march",
								"type": "DatasetReference",
								"parameters": {
									"param_sqlServerName": {
										"value": "@pipeline().parameters.param_sqlServerName",
										"type": "Expression"
									},
									"param_databaseName": {
										"value": "@pipeline().parameters.param_sqlServerDbName",
										"type": "Expression"
									},
									"param_adminUserName": {
										"value": "@pipeline().parameters.param_sqlServerAdminUserName",
										"type": "Expression"
									},
									"param_password": {
										"value": "@activity('Find SQL Server Password KV Secret').output.value",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Iterate Each Row of Lookup Output",
						"description": "Iterate Over Each Row of the Output of the Previous \"Lookup\" Activity that Executes the Query, Provided in the Pipeline Parameter \"param_sqlQuery\".",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Table Employee",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Table Employee').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Each Output Row of Lookup",
									"description": "Copy Each \"Output Row\" of the \"Lookup\" Activity to the Directory “copy-data-output/pl-for-each-copy-data-activity” as a CSV File under the Container “stage” in the Azure Data Lake Storage Gen2 resource “adlsoindrila2022march”.",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": true
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT Id, FirstName, LastName, Address FROM dbo.Employee WHERE Id = ''', item().Id, '''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_sqldboindrila2022march",
											"type": "DatasetReference",
											"parameters": {
												"param_sqlServerName": {
													"value": "@pipeline().parameters.param_sqlServerName",
													"type": "Expression"
												},
												"param_databaseName": {
													"value": "@pipeline().parameters.param_sqlServerDbName",
													"type": "Expression"
												},
												"param_adminUserName": {
													"value": "@pipeline().parameters.param_sqlServerAdminUserName",
													"type": "Expression"
												},
												"param_password": {
													"value": "@activity('Find SQL Server Password KV Secret').output.value",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_CSV_With_Container_Directory_Params",
											"type": "DatasetReference",
											"parameters": {
												"param_containerName": {
													"value": "@pipeline().parameters.param_containerName",
													"type": "Expression"
												},
												"param_directoryName": {
													"value": "@pipeline().parameters.param_directoryName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_sqlServerName": {
						"type": "string",
						"defaultValue": "sqlserveroindrila2022march.database.windows.net"
					},
					"param_sqlServerDbName": {
						"type": "string",
						"defaultValue": "sqldboindrila2022march"
					},
					"param_sqlServerAdminUserName": {
						"type": "string",
						"defaultValue": "oindrila2022march"
					},
					"param_sqlQuery": {
						"type": "string",
						"defaultValue": "SELECT * FROM dbo.Employee"
					},
					"param_containerName": {
						"type": "string",
						"defaultValue": "stage"
					},
					"param_directoryName": {
						"type": "string",
						"defaultValue": "copy-data-output/pl-for-each-copy-data-activity"
					}
				},
				"folder": {
					"name": "Training Folder/Learning Activities/Day-7"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_sqldboindrila2022march')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/19_Learn_Switch_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Find SQL Server Password KV Secret",
						"description": "Fetch the Value of the Secret \"kv-sqlserveroindrila2022march-pwd\" from the Azure Key Vault resource “KV-Oindrila-2022-March”",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kv-oindrila-2022-march.vault.azure.net/secrets/kv-sqlserveroindrila2022march-pwd/?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Lookup Table Employee",
						"description": "Use this \"Lookup\" Activity to Execute the Query, Provided in the Pipeline Parameter \"param_sqlQuery\".",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Find SQL Server Password KV Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@pipeline().parameters.param_sqlQuery",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_sqldboindrila2022march",
								"type": "DatasetReference",
								"parameters": {
									"param_sqlServerName": {
										"value": "@pipeline().parameters.param_sqlServerName",
										"type": "Expression"
									},
									"param_databaseName": {
										"value": "@pipeline().parameters.param_sqlServerDbName",
										"type": "Expression"
									},
									"param_adminUserName": {
										"value": "@pipeline().parameters.param_sqlServerAdminUserName",
										"type": "Expression"
									},
									"param_password": {
										"value": "@activity('Find SQL Server Password KV Secret').output.value",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Iterate Each Row of Lookup Output",
						"description": "Iterate Over Each Row of the Output of the Previous \"Lookup\" Activity that Executes the Query, Provided in the Pipeline Parameter \"param_sqlQuery\".",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Table Employee",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Table Employee').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Switch On City Values",
									"description": "Depending on the Name of the \"City\", \"Copy\" the Data to Different Folders.",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().Address",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "Kolkata",
												"activities": [
													{
														"name": "Set Addres Variable To Kolkata",
														"description": "Set the Value \"Kolkata\" as the Pipeline Variable \"var_address\" for the Selected Case \"Kolkata\".",
														"type": "SetVariable",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"variableName": "var_address",
															"value": "Kolkata"
														}
													}
												]
											},
											{
												"value": "Noida",
												"activities": [
													{
														"name": "Set Addres Variable To Noida",
														"description": "Set the Value \"Noida\" as the Pipeline Variable \"var_address\" for the Selected Case \"Noida\".",
														"type": "SetVariable",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"variableName": "var_address",
															"value": "Noida"
														}
													}
												]
											}
										],
										"defaultActivities": [
											{
												"name": "Set Addres Variable To Other City",
												"description": "Set the Value \"Other City\" as the Pipeline Variable \"var_address\" for the Default Case.",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "var_address",
													"value": "Other City"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_sqlServerName": {
						"type": "string",
						"defaultValue": "sqlserveroindrila2022march.database.windows.net"
					},
					"param_sqlServerDbName": {
						"type": "string",
						"defaultValue": "sqldboindrila2022march"
					},
					"param_sqlServerAdminUserName": {
						"type": "string",
						"defaultValue": "oindrila2022march"
					},
					"param_sqlQuery": {
						"type": "string",
						"defaultValue": "SELECT * FROM dbo.Employee"
					},
					"param_containerName": {
						"type": "string",
						"defaultValue": "stage"
					},
					"param_directoryName": {
						"type": "string",
						"defaultValue": "switch-activity-output"
					}
				},
				"variables": {
					"var_address": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Training Folder/Learning Activities/Day-7"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_sqldboindrila2022march')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/21_Learn_Until_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait Until the File is Available",
						"description": "Wait \"Until\" the File Becomes Available.",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('var_isFileAvailable')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Existence Metadata of CSV File",
									"description": "Check the Existence of the File \"Students_1.csv\" in the Directory \"input-csv-files/pl-until-file\" Under the Container \"raw\" Using the \"Exists\" Field of \"Get Metadata\" Activity.",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_CSV_With_Container_Directory_File_Params",
											"type": "DatasetReference",
											"parameters": {
												"param_containerName": {
													"value": "@pipeline().parameters.param_containerName",
													"type": "Expression"
												},
												"param_directoryName": {
													"value": "@pipeline().parameters.param_directoryName",
													"type": "Expression"
												},
												"param_fileName": {
													"value": "@pipeline().parameters.param_fileName",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "Verify If File Exists",
									"description": "Verify If the File \"Students_1.csv\" Exists in the Directory \"input-csv-files/pl-until-file\" Under the Container \"raw\".",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Get Existence Metadata of CSV File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@activity('Get Existence Metadata of CSV File').output.exists",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Set Negative to File Exists Variable",
												"description": "Set the Value \"false\" to the Pipeline Variable \"var_isFileAvailable\".",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "var_isFileAvailable",
													"value": false
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Set Affirmative to File Exists Variable",
												"description": "Set the Value \"true\" to the Pipeline Variable \"var_isFileAvailable\".",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "var_isFileAvailable",
													"value": true
												}
											}
										]
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_containerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"param_directoryName": {
						"type": "string",
						"defaultValue": "input-csv-files/pl-until-file"
					},
					"param_fileName": {
						"type": "string",
						"defaultValue": "Students_1.csv"
					}
				},
				"variables": {
					"var_isFileAvailable": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"folder": {
					"name": "Training Folder/Learning Activities/Day-7"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/22_Learn_Delete_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait Until the File is Available",
						"description": "Wait \"Until\" the File Becomes Available.",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('var_isFileAvailable')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Existence Metadata of CSV File",
									"description": "Check the Existence of the File \"Students_1.csv\" in the Directory \"input-csv-files/pl-until-file\" Under the Container \"raw\" Using the \"Exists\" Field of \"Get Metadata\" Activity.",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_CSV_With_Container_Directory_File_Params",
											"type": "DatasetReference",
											"parameters": {
												"param_containerName": {
													"value": "@pipeline().parameters.param_inputContainerName",
													"type": "Expression"
												},
												"param_directoryName": {
													"value": "@pipeline().parameters.param_inputDirectoryName",
													"type": "Expression"
												},
												"param_fileName": {
													"value": "@pipeline().parameters.param_inputFileName",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "Verify If File Exists",
									"description": "Verify If the File \"Students_1.csv\" Exists in the Directory \"input-csv-files/pl-until-file\" Under the Container \"raw\".",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Get Existence Metadata of CSV File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@activity('Get Existence Metadata of CSV File').output.exists",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Set Negative to File Exists Variable",
												"description": "Set the Value \"false\" to the Pipeline Variable \"var_isFileAvailable\".",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "var_isFileAvailable",
													"value": false
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Set Affirmative to File Exists Variable",
												"description": "Set the Value \"true\" to the Pipeline Variable \"var_isFileAvailable\".",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "var_isFileAvailable",
													"value": true
												}
											},
											{
												"name": "Copy CSV File",
												"description": "Copy the CSV File \"Students_1.csv\", When it Becomes Available, from the Input Directory \"input-csv-files/pl-until-file\" Under the Input Container \"raw\" to the Output Directory \"copy-data-output/pl-delete-copy-data-activity\" Under the Output Container \"stage\".",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Set Affirmative to File Exists Variable",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_CSV_With_Container_Directory_File_Params",
														"type": "DatasetReference",
														"parameters": {
															"param_containerName": {
																"value": "@pipeline().parameters.param_inputContainerName",
																"type": "Expression"
															},
															"param_directoryName": {
																"value": "@pipeline().parameters.param_inputDirectoryName",
																"type": "Expression"
															},
															"param_fileName": {
																"value": "@pipeline().parameters.param_inputFileName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_CSV_With_Container_Directory_File_Params",
														"type": "DatasetReference",
														"parameters": {
															"param_containerName": {
																"value": "@pipeline().parameters.param_outputContainerName",
																"type": "Expression"
															},
															"param_directoryName": {
																"value": "@pipeline().parameters.param_outputDirectoryName",
																"type": "Expression"
															},
															"param_fileName": {
																"value": "@pipeline().parameters.param_inputFileName",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Delete Source CSV File",
												"description": "After Copying, Delete the CSV File from the Directory \"input-csv-files/pl-until-file\" Under the Container \"raw\".",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Copy CSV File",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 2,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_CSV_With_Container_Directory_File_Params",
														"type": "DatasetReference",
														"parameters": {
															"param_containerName": {
																"value": "@pipeline().parameters.param_inputContainerName",
																"type": "Expression"
															},
															"param_directoryName": {
																"value": "@pipeline().parameters.param_inputDirectoryName",
																"type": "Expression"
															},
															"param_fileName": {
																"value": "@pipeline().parameters.param_inputFileName",
																"type": "Expression"
															}
														}
													},
													"logStorageSettings": {
														"linkedServiceName": {
															"referenceName": "LS_logadlsoindrila2022march",
															"type": "LinkedServiceReference"
														},
														"path": "delete-activity-log-container/delete-activity-log-directory"
													},
													"enableLogging": true,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										]
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_inputContainerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"param_inputDirectoryName": {
						"type": "string",
						"defaultValue": "input-csv-files/pl-until-file"
					},
					"param_inputFileName": {
						"type": "string",
						"defaultValue": "Students_1.csv"
					},
					"param_outputContainerName": {
						"type": "string",
						"defaultValue": "stage"
					},
					"param_outputDirectoryName": {
						"type": "string",
						"defaultValue": "copy-data-output/pl-delete-copy-data-activity"
					}
				},
				"variables": {
					"var_isFileAvailable": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"folder": {
					"name": "Training Folder/Learning Activities/Day-8"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_logadlsoindrila2022march')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/23_Learn_Fail_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Find SQL Server Password KV Secret",
						"description": "Fetch the Value of the Secret \"kv-sqlserveroindrila2022march-pwd\" from the Azure Key Vault resource “KV-Oindrila-2022-March”",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kv-oindrila-2022-march.vault.azure.net/secrets/kv-sqlserveroindrila2022march-pwd/?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Lookup Employee Table",
						"description": "Use this \"Lookup\" Activity to Fetch the Result of the SQL Query \"SELECT * FROM dbo.Employee WHERE Address = '\" + param_address + \"'\".",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Find SQL Server Password KV Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT * FROM dbo.Employee WHERE Address = ''', pipeline().parameters.param_address, '''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_sqldboindrila2022march",
								"type": "DatasetReference",
								"parameters": {
									"param_sqlServerName": {
										"value": "@pipeline().parameters.param_sqlServerName",
										"type": "Expression"
									},
									"param_databaseName": {
										"value": "@pipeline().parameters.param_sqlServerDatabaseName",
										"type": "Expression"
									},
									"param_adminUserName": {
										"value": "@pipeline().parameters.param_sqlServerAdminUserName",
										"type": "Expression"
									},
									"param_password": {
										"value": "@activity('Find SQL Server Password KV Secret').output.value",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Verify Lookup Result",
						"description": "Verify If the Previous Lookup Activity Returns Result Set",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Employee Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Lookup Employee Table').output.count, 0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail On Lookup Employee Table",
									"description": "Provide the Error Message on Failure of the Previous Lookup Activity",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@concat('The Employee Information Could Not be Found Living in the City \"', pipeline().parameters.param_address, '\"')",
											"type": "Expression"
										},
										"errorCode": {
											"value": "@pipeline().parameters.param_failureCode",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_sqlServerName": {
						"type": "string",
						"defaultValue": "sqlserveroindrila2022march.database.windows.net"
					},
					"param_sqlServerDatabaseName": {
						"type": "string",
						"defaultValue": "sqldboindrila2022march"
					},
					"param_sqlServerAdminUserName": {
						"type": "string",
						"defaultValue": "oindrila2022march"
					},
					"param_address": {
						"type": "string",
						"defaultValue": "Tokyo"
					},
					"param_failureCode": {
						"type": "string",
						"defaultValue": "Error_400"
					}
				},
				"folder": {
					"name": "Training Folder/Learning Activities/Day-8"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_sqldboindrila2022march')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/24_Learn_Unzip_Files_Using_Copy_Data_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Unzip the Zipped CSV Files",
						"description": "Unzip the Zipped CSV Files from the Input Directory \"input-zip-files\" under the Input Container \"raw\" to the Output Directory \"copy-data-output/pl-copy-unzip-file-activity\" under the Output Container \"stage\".",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.zip",
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings",
									"compressionProperties": {
										"type": "ZipDeflateReadSettings",
										"preserveZipFileNameAsFolder": false
									}
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_Zip_File_With_Container_Directory_Params",
								"type": "DatasetReference",
								"parameters": {
									"param_containerName": {
										"value": "@pipeline().parameters.param_inputZipContainerName",
										"type": "Expression"
									},
									"param_directoryName": {
										"value": "@pipeline().parameters.param_inputZipDirectoryName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Binary_File_With_Container_Directory_Params",
								"type": "DatasetReference",
								"parameters": {
									"param_containerName": {
										"value": "@pipeline().parameters.param_outputUnzipContainerName",
										"type": "Expression"
									},
									"param_directoryName": {
										"value": "@pipeline().parameters.param_outputUnzipDirectoryName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_inputZipContainerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"param_inputZipDirectoryName": {
						"type": "string",
						"defaultValue": "input-zip-files"
					},
					"param_outputUnzipContainerName": {
						"type": "string",
						"defaultValue": "stage"
					},
					"param_outputUnzipDirectoryName": {
						"type": "string",
						"defaultValue": "copy-data-output/pl-copy-unzip-file-activity"
					}
				},
				"folder": {
					"name": "Training Folder/Learning Activities/Day-8"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/8_Learn_LookUp_Activity_With_Out_Param_SP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Find SQL Server Password KV Secret",
						"description": "Fetch the Value of the Secret \"kv-sqlserveroindrila2022march-pwd\" from the Azure Key Vault resource “KV-Oindrila-2022-March”",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kv-oindrila-2022-march.vault.azure.net/secrets/kv-sqlserveroindrila2022march-pwd/?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Lookup SP With Out Param Result",
						"description": "Use this \"Lookup\" Activity to Call the Stored Procedure \"dbo.SP_GetEmployeeDetails\" to Fetch the Details of the Table \"Employee\" Based on the Provided Filter Value as Pipeline Parameter \"param_address\".",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Find SQL Server Password KV Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": {
									"value": "@pipeline().parameters.param_storedProcedureName",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"Address": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.param_address",
											"type": "Expression"
										}
									},
									"Id": {
										"type": "Int32",
										"value": null
									},
									"FirstName": {
										"type": "String",
										"value": null
									},
									"LastName": {
										"type": "String",
										"value": null
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_sqldboindrila2022march",
								"type": "DatasetReference",
								"parameters": {
									"param_sqlServerName": {
										"value": "@pipeline().parameters.param_sqlServerName",
										"type": "Expression"
									},
									"param_databaseName": {
										"value": "@pipeline().parameters.param_sqlServerDatabaseName",
										"type": "Expression"
									},
									"param_adminUserName": {
										"value": "@pipeline().parameters.param_sqlServerAdminUserName",
										"type": "Expression"
									},
									"param_password": {
										"value": "@activity('Find SQL Server Password KV Secret').output.value",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_sqlServerName": {
						"type": "string",
						"defaultValue": "sqlserveroindrila2022march.database.windows.net"
					},
					"param_sqlServerDatabaseName": {
						"type": "string",
						"defaultValue": "sqldboindrila2022march"
					},
					"param_sqlServerAdminUserName": {
						"type": "string",
						"defaultValue": "oindrila2022march"
					},
					"param_storedProcedureName": {
						"type": "string",
						"defaultValue": "dbo.SP_GetEmployeeDetails"
					},
					"param_address": {
						"type": "string",
						"defaultValue": "Kolkata"
					}
				},
				"folder": {
					"name": "Training Folder/Learning Activities/Day-4"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_sqldboindrila2022march')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/9_Learn_LookUp_Activity_With_SQL_Query')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Find SQL Server Password KV Secret",
						"description": "Fetch the Value of the Secret \"kv-sqlserveroindrila2022march-pwd\" from the Azure Key Vault resource “KV-Oindrila-2022-March”",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://kv-oindrila-2022-march.vault.azure.net/secrets/kv-sqlserveroindrila2022march-pwd/?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Lookup SQL Query",
						"description": "Use this \"Lookup\" Activity to Fetch the Result of the SQL Query \"SELECT * FROM dbo.Employee WHERE Address = '\" + param_address + \"'\".",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Find SQL Server Password KV Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT * FROM dbo.Employee WHERE Address = ''', pipeline().parameters.param_address, '''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_sqldboindrila2022march",
								"type": "DatasetReference",
								"parameters": {
									"param_sqlServerName": {
										"value": "@pipeline().parameters.param_sqlServerName",
										"type": "Expression"
									},
									"param_databaseName": {
										"value": "@pipeline().parameters.param_sqlServerDatabaseName",
										"type": "Expression"
									},
									"param_adminUserName": {
										"value": "@pipeline().parameters.param_sqlServerAdminUserName",
										"type": "Expression"
									},
									"param_password": {
										"value": "@activity('Find SQL Server Password KV Secret').output.value",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_sqlServerName": {
						"type": "string",
						"defaultValue": "sqlserveroindrila2022march.database.windows.net"
					},
					"param_sqlServerDatabaseName": {
						"type": "string",
						"defaultValue": "sqldboindrila2022march"
					},
					"param_sqlServerAdminUserName": {
						"type": "string",
						"defaultValue": "oindrila2022march"
					},
					"param_address": {
						"type": "string",
						"defaultValue": "Kolkata"
					}
				},
				"folder": {
					"name": "Training Folder/Learning Activities/Day-4"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_sqldboindrila2022march')]"
			]
		}
	]
}