pipeline/11_Merge_Data_From_Multiple_Files_Using_Copy_Data_Activity.json
{
	"name": "11_Merge_Data_From_Multiple_Files_Using_Copy_Data_Activity",
	"properties": {
		"activities": [
			{
				"name": "Find SQL Server Password KV Secret",
				"description": "Fetch the Value of the Secret \"kv-sqlserveroindrila2022march-pwd\" from the Azure Key Vault resource “KV-Oindrila-2022-March”",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-oindrila-2022-march.vault.azure.net/secrets/kv-sqlserveroindrila2022march-pwd/?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Merge Data from Multiple Files to SQL Table",
				"description": "Copy Data from the Multiple CSV Files Present in the \"Hierarchy\" of \"Sub-Directories\" inside the Directory \"input-csv-files\" under the Container \"raw\" and Store the Merged Data into the SQL Table \"dbo.StudentMarks\".",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Find SQL Server Password KV Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MiddleName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MiddleName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "LastName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Subject",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubjectName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Marks",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Marks",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_pl_copy_data_activity",
						"type": "DatasetReference",
						"parameters": {
							"param_container": {
								"value": "@pipeline().parameters.param_containerName",
								"type": "Expression"
							},
							"param_directory": {
								"value": "@pipeline().parameters.param_directoryName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_sqldboindrila2022march_Param_Table",
						"type": "DatasetReference",
						"parameters": {
							"param_sqlServerName": {
								"value": "@pipeline().parameters.param_sqlServerName",
								"type": "Expression"
							},
							"param_databaseName": {
								"value": "@pipeline().parameters.param_sqlServerDbName",
								"type": "Expression"
							},
							"param_adminUserName": {
								"value": "@pipeline().parameters.param_sqlServerAdminUserName",
								"type": "Expression"
							},
							"param_password": {
								"value": "@activity('Find SQL Server Password KV Secret').output.value",
								"type": "Expression"
							},
							"param_schemaName": {
								"value": "@pipeline().parameters.param_schemaName",
								"type": "Expression"
							},
							"param_tableName": {
								"value": "@pipeline().parameters.param_tableName",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"param_sqlServerName": {
				"type": "string",
				"defaultValue": "sqlserveroindrila2022march.database.windows.net"
			},
			"param_sqlServerDbName": {
				"type": "string",
				"defaultValue": "sqldboindrila2022march"
			},
			"param_sqlServerAdminUserName": {
				"type": "string",
				"defaultValue": "oindrila2022march"
			},
			"param_storedProcedureName": {
				"type": "string"
			},
			"param_schemaName": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"param_tableName": {
				"type": "string",
				"defaultValue": "StudentMarks"
			},
			"param_containerName": {
				"type": "string",
				"defaultValue": "raw"
			},
			"param_directoryName": {
				"type": "string",
				"defaultValue": "input-csv-files"
			}
		},
		"folder": {
			"name": "Training Folder/Learning Activities/Day-6"
		},
		"annotations": []
	}
}