pipeline/5_Learn_To_Access_KV_Secret_From_ADF_PL.json
{
	"name": "5_Learn_To_Access_KV_Secret_From_ADF_PL",
	"properties": {
		"activities": [
			{
				"name": "Find API Access Key KV Secret",
				"description": "Fetch the Value of the Secret \"kv-secret-for-weather-api-access-key\" from the Azure Key Vault resource “KV-Oindrila-2022-March”",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-oindrila-2022-march.vault.azure.net/secrets/kv-sqlserveroindrila2022march-pwd/?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Find Weather Info of City",
				"description": "Access the REST API BASE URL \"http://api.weatherstack.com/current/\", and, pass \"City Name\" and the \"Access Key\" as \"Query String\", appended to the BASE URL, separated by a \"Question Mark\", i.e., \"?\".",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Find API Access Key KV Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('http://api.weatherstack.com/current?access_key=', activity('Find API Access Key KV Secret').output.value, '&query=', pipeline().parameters.param_cityName)",
						"type": "Expression"
					},
					"method": "GET"
				}
			}
		],
		"parameters": {
			"param_cityName": {
				"type": "string",
				"defaultValue": "Kolkata"
			}
		},
		"folder": {
			"name": "Training Folder/Learning Activities/Day-2"
		},
		"annotations": []
	}
}