pipeline/7_Learn_Stored_Procedure_Activity_With_Out_Param.json
{
	"name": "7_Learn_Stored_Procedure_Activity_With_Out_Param",
	"properties": {
		"activities": [
			{
				"name": "Find Secret",
				"description": "Fetch the Value of the Secret \"kv-sqlserveroindrila2022march-pwd\" from the Azure Key Vault resource “KV-Oindrila-2022-March”",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-oindrila-2022-march.vault.azure.net/secrets/kv-sqlserveroindrila2022march-pwd/?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Data Retrieval Stored Procedure",
				"description": "Call the Stored Procedure \"dbo.SP_GetEmployeeDetails\" to Fetch the Details of the Table \"Employee\".",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Find Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.SP_GetEmployeeDetails",
					"storedProcedureParameters": {
						"Address": {
							"value": {
								"value": "@pipeline().parameters.param_address",
								"type": "Expression"
							},
							"type": "String"
						},
						"Id": {
							"value": null,
							"type": "Int32"
						},
						"FirstName": {
							"value": null,
							"type": "String"
						},
						"LastName": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQLServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"param_ServerName": {
							"value": "@pipeline().parameters.sqlServerName",
							"type": "Expression"
						},
						"param_DatabaseName": {
							"value": "@pipeline().parameters.sqlServerDatabaseName",
							"type": "Expression"
						},
						"param_AdminUserName": {
							"value": "@pipeline().parameters.sqlServerAdminUserName",
							"type": "Expression"
						},
						"param_Password": {
							"value": "@activity('Find Secret').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"param_sqlServerName": {
				"type": "string",
				"defaultValue": "sqlserveroindrila2022march.database.windows.net"
			},
			"param_sqlServerDatabaseName": {
				"type": "string",
				"defaultValue": "sqldboindrila2022march"
			},
			"param_sqlServerAdminUserName": {
				"type": "string",
				"defaultValue": "oindrila2022march"
			},
			"param_address": {
				"type": "string",
				"defaultValue": "Kolkata"
			}
		},
		"folder": {
			"name": "Training Folder/Learning Activities/Day-3"
		},
		"annotations": []
	}
}