pipeline/PL_Copy_Data_From_Http.json
{
	"name": "PL_Copy_Data_From_Http",
	"properties": {
		"activities": [
			{
				"name": "Copy Data from HTTP Endpoint",
				"description": "Copy population related data using the World Bank Public API.",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings",
								"preserveZipFileNameAsFolder": false
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Http_Zip_World_Bank_Total_Population",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Http_Output_Zip_World_Bank_Total_Population",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.Container_Name",
								"type": "Expression"
							},
							"directory_name": {
								"value": "@pipeline().parameters.Directory_Name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Extract Downloaded Zip File",
				"description": "Extract the \"CSV Files\" from the Downloaded \"Zip File\", containing \"Multiple CSV Files\"",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Data from HTTP Endpoint",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings",
								"preserveZipFileNameAsFolder": false
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Http_Output_Zip_World_Bank_Total_Population",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.Container_Name",
								"type": "Expression"
							},
							"directory_name": {
								"value": "@pipeline().parameters.Directory_Name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Unzipped_Files",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.Container_Name",
								"type": "Expression"
							},
							"directory_name": {
								"value": "@pipeline().parameters.Output_Csv_Directory_Name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get All CSV File Names",
				"description": "Get the Names of All the CSV Files that were Unzipped.",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Extract Downloaded Zip File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Unzipped_Csv_Files",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.Container_Name",
								"type": "Expression"
							},
							"directory_name": {
								"value": "@pipeline().parameters.Output_Csv_Directory_Name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Iterate Through All Unzipped CSV Files",
				"description": "Iterate Through All Unzipped CSV Files and Copy the CSV File that Starts with \"API_SP.POP.TOTL_DS2_en_csv\" and copy to \"clean\" Directory.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All CSV File Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All CSV File Names').output.childItems.name",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set CSV File Name",
							"description": "Set the Values of Each \"Item\" of the \"ForEach\" Activity for Each Iteration.",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "CSV_File_Name",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If File Name Matches",
							"description": "Check if the CSV File Name Starts With \"API_SP.POP.TOTL_DS2_en_csv\"",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set CSV File Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@startswith(variables('CSV_File_Name'), 'API_SP.POP.TOTL_DS2_en_csv')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy CSV File",
										"description": "Copy the CSV File that Starts With “API_SP.POP.TOTL_DS2_en_csv” from \"unzipped-raw-csv-folder\" Directory to \"raw-csv-folder\" Directory",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 2,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_CSV_File",
												"type": "DatasetReference",
												"parameters": {
													"container_name": {
														"value": "@pipeline().parameters.Container_Name",
														"type": "Expression"
													},
													"directory_name": {
														"value": "@pipeline().parameters.Output_Csv_Directory_Name",
														"type": "Expression"
													},
													"file_name": {
														"value": "@variables('CSV_File_Name')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_CSV_File",
												"type": "DatasetReference",
												"parameters": {
													"container_name": {
														"value": "@pipeline().parameters.Container_Name",
														"type": "Expression"
													},
													"directory_name": {
														"value": "@pipeline().parameters.Final_Csv_Directory_Name",
														"type": "Expression"
													},
													"file_name": {
														"value": "@variables('CSV_File_Name')",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Container_Name": {
				"type": "string",
				"defaultValue": "csv-container"
			},
			"Directory_Name": {
				"type": "string",
				"defaultValue": "zipped-raw-folder"
			},
			"Output_Csv_Directory_Name": {
				"type": "string",
				"defaultValue": "unzipped-raw-csv-folder"
			},
			"Final_Csv_Directory_Name": {
				"type": "string",
				"defaultValue": "raw-csv-folder"
			}
		},
		"variables": {
			"CSV_File_Name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Practice Pipeline Folder"
		},
		"annotations": []
	}
}