pipeline/PL_WithOutParamSpInLookUp.json
{
	"name": "PL_WithOutParamSpInLookUp",
	"properties": {
		"activities": [
			{
				"name": "Find Secret",
				"description": "Fetch the Value of the Secret \"kv-sqlserveroindrila2022march-pwd\" from the Azure Key Vault resource “KV-Oindrila-2022-March”",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-oindrila-2022-march.vault.azure.net/secrets/kv-sqlserveroindrila2022march-pwd/?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Lookup SP Result",
				"description": "Use this \"Lookup\" Activity to Call the Stored Procedure \"dbo.SP_GetEmployeeDetails\" to Fetch the Details of the Table \"Employee\".",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Find Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "dbo.SP_GetEmployeeDetails",
						"storedProcedureParameters": {
							"Address": {
								"type": "String",
								"value": "Kolkata"
							},
							"Id": {
								"type": "Int32",
								"value": null
							},
							"FirstName": {
								"type": "String",
								"value": null
							},
							"LastName": {
								"type": "String",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_sqldboindrila2022march",
						"type": "DatasetReference",
						"parameters": {
							"Param_SQLDB_Schema": "dbo",
							"Param_SQLDB_Table": "ErrorLog",
							"Param_AzureSQLServer": {
								"value": "@pipeline().parameters.sqlServerName",
								"type": "Expression"
							},
							"Param_AzureSQLServerDBName": {
								"value": "@pipeline().parameters.sqlServerDatabaseName",
								"type": "Expression"
							},
							"Param_AzureSQLServerUserName": {
								"value": "@pipeline().parameters.sqlServerAdminUserName",
								"type": "Expression"
							},
							"Param_AzureSQLServerPassword": {
								"value": "@activity('Find Secret').output.value",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"sqlServerName": {
				"type": "string",
				"defaultValue": "sqlserveroindrila2022march.database.windows.net"
			},
			"sqlServerDatabaseName": {
				"type": "string",
				"defaultValue": "sqldboindrila2022march"
			},
			"sqlServerAdminUserName": {
				"type": "string",
				"defaultValue": "oindrila2022march"
			}
		},
		"folder": {
			"name": "Practice Activities Folder"
		},
		"annotations": []
	}
}